p{
    background-color: beige;
}
body{
    
    background-repeat: round;
    background-position: bottom-left;
}
#d1{
    background: linear-gradient(pink,rgb(131, 177, 230))
}
#h6{
    background: linear-gradient(to left, purple, rgb(215, 211, 211))
}
#d2{
    height: 100px;
    width: 100px;
    animation-name: colorfill;
    animation-duration: 20s;
}
@keyframes colorfill {
    0%{background-color: red;}
    20%{background-color: rgb(255, 213, 0);}
    40%{background-color: rgb(0, 255, 38);}
    60%{background-color: rgb(0, 106, 255);}
    80%{background-color: rgb(255, 0, 238);}
    100%{background-color:antiquewhite;}
}

div{
    right:30px;
    border:3px solid rgb(111, 215, 241);
}

div.absolute{
    position:absolute;
    left: 200px;
    right: 100px;
    border: 3px solid salmon;
}

div.relative{
    position: relative;
    left: 100px;
    border: 3px plum;
}

div.fixed{
    position: fixed;
    top: 0px;
    right: 20px;
    width: 100px;
    border: 3px palegoldenrod;
}

div.sticky{
    position: sticky;
    top: 1px;
    left: 20px;
    width: 100px;
}